package {{packageName}};

import injector.*;

@{{jdkGeneratedAnnotation}}("injector.apt.InjectorProcessor")
public class {{simpleName}}InjectorFactory{{uniqueIdentifier}} implements Factory<{{canonicalName}}> {

    public {{simpleName}} create(Injector context, Class targetClass) {
    return new {{simpleName}}(
    {{#methods}}
        {{#constructor}}
{{#parameterIterable}}
{{^first}},{{/first}}
{{^data.allOf}}context.instanceOf( {{data.type}}.class, getExposedType() ){{/data.allOf}}
{{#data.allOf}}context.instancesExposedAs( {{data.allOf}} ){{/data.allOf}}
{{/parameterIterable}}
        {{/constructor}}
    {{/methods}}
    );
    }

    public Class<{{simpleName}}> getExposedType() {
        return {{simpleName}}.class;
    }
}
