package {{packageName}};

import injector.Factory;
import injector.InjectionContext;

public class {{simpleName}}Factory implements Factory<{{canonicalName}}> {

    @Override
    public {{simpleName}} create(InjectionContext context) {
    return new {{simpleName}}(
    {{#methods}}
        {{#constructor}}
            {{#parameterIterable}}
                {{^first}},{{/first}}context.instanceOf( {{data.type}}.class )
            {{/parameterIterable}}
        {{/constructor}}
    {{/methods}}
    );
    }

    @Override
    public Class<{{simpleName}}> getExposedType() {
        return {{simpleName}}.class;
    }
}
