package {{packageName}};

import injector.*;

public class {{simpleName}}Factory implements Factory<{{simpleName}}> {

    @Override
    public {{simpleName}} create(Injector context) {
        return context.instanceOf({{type}}.class).{{#methods}}{{name}}(
{{#parameterIterable}}
{{^first}},{{/first}}
{{^data.allOf}}context.instanceOf( {{data.type}}.class ){{/data.allOf}}
{{#data.allOf}}context.instancesExposedAs( {{data.allOf}} ){{/data.allOf}}
{{/parameterIterable}}
    {{/methods}}
        );
    }

    @Override
    public Class<{{simpleName}}> getExposedType() {
        return {{simpleName}}.class;
    }
}
